@model BookList

<form method="post">
	<div class="border p-4 mt-5">
		<div>
		<h2 class="row pb-3">
			Edit Book
		</h2>
		<hr />
		</div>
	<div class="mb-3">
		<label asp-for="Title"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Author"></label>
		<input asp-for="Author" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="PublisedYear"></label>
		<input asp-for="PublisedYear" class="form-control" />
		<span asp-validation-for="PublisedYear" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-success" style="width:150px">Update</button> &nbsp;
	<a asp-controller="BookList" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}